:root {
    --clr-primary: rgba(0, 0, 0, 0.9);
    --clr-secondary: rgba(0, 255, 255, 0.9);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

main {
    width: 80%;
    height: 100vh;
    margin: 40px auto 0;
}

/*Global*/

h1 {
    font-size: 1.6em;
}

h3 {
    margin: 30px 0;
}

.circle {
    border-radius: 50%;
    box-shadow: 0 0 15px var(--clr-secondary);
    background-image: linear-gradient(270deg, var(--clr-secondary), var(--clr-primary));
    position: absolute;
}

.circle-small {
    width: 80px;
    height: 80px;
}

.circle-medium {
    width: 120px;
    height: 120px;
}

.circle-big {
    width: 200px;
    height: 200px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

a {
    padding: 10px 25px;
    margin: 30px 0 0;
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-secondary);
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-secondary);
    box-shadow: 0 0 5px var(--clr-secondary);
}

a:hover {
    background-color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
    color: var(--clr-primary);
    box-shadow: none;
}

img {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: auto;
    box-shadow: 0 0 30px 5px var(--clr-secondary);
    border-radius: 40px;
}

hr {
    border: none;
    border-bottom: 2px solid var(--clr-secondary);
    border-color: var(--clr-secondary);
    box-shadow: 0 0 5px var(--clr-secondary);
    margin: 60px 0;
}

/*Structure*/

#first-section .circle-medium {
    bottom: 0;
    left: 30%;
}

#first-section .container {
    width: 50%;
    text-align: justify;
}

h1 span {
    display: block;
    color: #ff0101;
    margin: 20px 0 0;
}

#first-section .circle-big {
    right: 40%;
    top: 0;
}

#first-section img {
    background-image: url(images/Group\ 8449.png);
    align-self: flex-end;
}

#first-section .circle-small {
    right: 52%;
    top: 0;
}